.elementor-497 .elementor-element.elementor-element-ca0e884 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: stretch;
    --gap: 40px 40px;
    --row-gap: 40px;
    --column-gap: 40px;
    --overlay-opacity: 0.83;
    --padding-top: 200px;
    --padding-bottom: 0px;
    --padding-left: 100px;
    --padding-right: 100px;
}

.elementor-497 .elementor-element.elementor-element-ca0e884:not(.elementor-motion-effects-element-type-background),
.elementor-497 .elementor-element.elementor-element-ca0e884>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-astglobalcolor0);
}

.elementor-497 .elementor-element.elementor-element-ca0e884::before,
.elementor-497 .elementor-element.elementor-element-ca0e884>.elementor-background-video-container::before,
.elementor-497 .elementor-element.elementor-element-ca0e884>.e-con-inner>.elementor-background-video-container::before,
.elementor-497 .elementor-element.elementor-element-ca0e884>.elementor-background-slideshow::before,
.elementor-497 .elementor-element.elementor-element-ca0e884>.e-con-inner>.elementor-background-slideshow::before,
.elementor-497 .elementor-element.elementor-element-ca0e884>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    --background-overlay: '';
    background-position: -200px 200px;
    background-repeat: no-repeat;
    background-size: contain;
}

.elementor-497 .elementor-element.elementor-element-c834588 {
    --display: flex;
    --gap: 30px 30px;
    --row-gap: 30px;
    --column-gap: 30px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 50px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 20px;
}

.elementor-497 .elementor-element.elementor-element-05148e0 .elementor-image-box-wrapper {
    text-align: start;
}

.elementor-497 .elementor-element.elementor-element-05148e0 .elementor-image-box-title {
    color: #FFFFFF;
}

.elementor-497 .elementor-element.elementor-element-05148e0 .elementor-image-box-description {
    font-size: 16px;
    color: #FFFFFFBF;
}

.elementor-497 .elementor-element.elementor-element-0e21178 .elementor-button {
    background-color: #FFFFFF;
    fill: var(--e-global-color-astglobalcolor0);
    color: var(--e-global-color-astglobalcolor0);
}

.elementor-497 .elementor-element.elementor-element-0e21178 .elementor-button:hover,
.elementor-497 .elementor-element.elementor-element-0e21178 .elementor-button:focus {
    background-color: #FFFFFFE6;
}

.elementor-497 .elementor-element.elementor-element-0e21178>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-497 .elementor-element.elementor-element-0e21178 .elementor-button-content-wrapper {
    flex-direction: row-reverse;
}

.elementor-497 .elementor-element.elementor-element-0e21178 .elementor-button .elementor-button-content-wrapper {
    gap: 20px;
}

.elementor-497 .elementor-element.elementor-element-6f94460 {
    --display: flex;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 40px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-497 .elementor-element.elementor-element-9b0ebb2>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-497 .elementor-element.elementor-element-9b0ebb2 {
    text-align: center;
}

.elementor-497 .elementor-element.elementor-element-9b0ebb2 img {
    width: 100%;
    border-radius: 0px 0px 0px 0px;
}

.elementor-497 .elementor-element.elementor-element-09a4020 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: stretch;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 100px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-497 .elementor-element.elementor-element-7f15b20 {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-497 .elementor-element.elementor-element-8a89d9f>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-497 .elementor-element.elementor-element-8a89d9f {
    text-align: start;
}

.elementor-497 .elementor-element.elementor-element-8a89d9f img {
    border-radius: 4px 4px 4px 4px;
}

.elementor-497 .elementor-element.elementor-element-98a114d {
    --display: flex;
    --justify-content: center;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 100px;
    --padding-right: 0px;
}

.elementor-497 .elementor-element.elementor-element-add4afa .elementor-heading-title {
    color: #115FC3;
}

.elementor-497 .elementor-element.elementor-element-529fb43 {
    color: #000000;
}

.elementor-497 .elementor-element.elementor-element-224ea1b>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

.elementor-497 .elementor-element.elementor-element-224ea1b .elementor-button-content-wrapper {
    flex-direction: row-reverse;
}

.elementor-497 .elementor-element.elementor-element-224ea1b .elementor-button .elementor-button-content-wrapper {
    gap: 20px;
}

.elementor-497 .elementor-element.elementor-element-74ed9d9 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: stretch;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 100px;
    --padding-bottom: 100px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-497 .elementor-element.elementor-element-e3d8e7b {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-497 .elementor-element.elementor-element-1a76db1>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-497 .elementor-element.elementor-element-1a76db1 {
    text-align: center;
}

.elementor-497 .elementor-element.elementor-element-1a76db1 .elementor-heading-title {
    color: #134EB5;
}

.elementor-497 .elementor-element.elementor-element-3258599 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: stretch;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --border-radius: 6px 6px 6px 6px;
    --margin-top: 40px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-497 .elementor-element.elementor-element-93c6cb7 {
    --display: flex;
    --border-radius: 6px 6px 6px 6px;
    --margin-top: 20px;
    --margin-bottom: 20px;
    --margin-left: 20px;
    --margin-right: 20px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-497 .elementor-element.elementor-element-61a99d8 img {
    border-radius: 7px 7px 7px 7px;
}

.elementor-497 .elementor-element.elementor-element-fb6ba81>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-497 .elementor-element.elementor-element-fb6ba81 .elementor-heading-title {
    color: #143D86;
}

.elementor-497 .elementor-element.elementor-element-edc1e6e {
    color: #000000;
}

.elementor-497 .elementor-element.elementor-element-0e12443 {
    --display: flex;
    --border-radius: 6px 6px 6px 6px;
    --margin-top: 20px;
    --margin-bottom: 20px;
    --margin-left: 20px;
    --margin-right: 20px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-497 .elementor-element.elementor-element-595a097 img {
    border-radius: 7px 7px 7px 7px;
}

.elementor-497 .elementor-element.elementor-element-8a4101b>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-497 .elementor-element.elementor-element-8a4101b .elementor-heading-title {
    color: #1748A8;
}

.elementor-497 .elementor-element.elementor-element-fa95645 {
    color: #000000;
}

.elementor-497 .elementor-element.elementor-element-641bfc2 {
    --display: flex;
    --border-radius: 6px 6px 6px 6px;
    --margin-top: 20px;
    --margin-bottom: 20px;
    --margin-left: 20px;
    --margin-right: 20px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-497 .elementor-element.elementor-element-0037453 img {
    border-radius: 7px 7px 7px 7px;
}

.elementor-497 .elementor-element.elementor-element-24ecd08>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-497 .elementor-element.elementor-element-24ecd08 .elementor-heading-title {
    color: #145DD1;
}

.elementor-497 .elementor-element.elementor-element-0cf3a25 {
    color: #000000;
}

.elementor-497 .elementor-element.elementor-element-cde55bc>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-497 .elementor-element.elementor-element-cde55bc .elementor-button-content-wrapper {
    flex-direction: row-reverse;
}

.elementor-497 .elementor-element.elementor-element-cde55bc .elementor-button .elementor-button-content-wrapper {
    gap: 20px;
}

.elementor-497 .elementor-element.elementor-element-38ab107 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: stretch;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --overlay-opacity: 0.5;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-497 .elementor-element.elementor-element-38ab107:not(.elementor-motion-effects-element-type-background),
.elementor-497 .elementor-element.elementor-element-38ab107>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(270deg, var(--e-global-color-astglobalcolor0) 50%, #F3F7FF00 50%);
}

.elementor-497 .elementor-element.elementor-element-38ab107::before,
.elementor-497 .elementor-element.elementor-element-38ab107>.elementor-background-video-container::before,
.elementor-497 .elementor-element.elementor-element-38ab107>.e-con-inner>.elementor-background-video-container::before,
.elementor-497 .elementor-element.elementor-element-38ab107>.elementor-background-slideshow::before,
.elementor-497 .elementor-element.elementor-element-38ab107>.e-con-inner>.elementor-background-slideshow::before,
.elementor-497 .elementor-element.elementor-element-38ab107>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    --background-overlay: '';
}

.elementor-497 .elementor-element.elementor-element-a237398 {
    --display: flex;
    --justify-content: center;
    --gap: 20px 20px;
    --row-gap: 20px;
    --column-gap: 20px;
    --overlay-opacity: 1;
    --padding-top: 80px;
    --padding-bottom: 80px;
    --padding-left: 80px;
    --padding-right: 80px;
}

.elementor-497 .elementor-element.elementor-element-a237398:not(.elementor-motion-effects-element-type-background),
.elementor-497 .elementor-element.elementor-element-a237398>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-astglobalcolor0);
}

.elementor-497 .elementor-element.elementor-element-a237398::before,
.elementor-497 .elementor-element.elementor-element-a237398>.elementor-background-video-container::before,
.elementor-497 .elementor-element.elementor-element-a237398>.e-con-inner>.elementor-background-video-container::before,
.elementor-497 .elementor-element.elementor-element-a237398>.elementor-background-slideshow::before,
.elementor-497 .elementor-element.elementor-element-a237398>.e-con-inner>.elementor-background-slideshow::before,
.elementor-497 .elementor-element.elementor-element-a237398>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    --background-overlay: '';
    background-position: -100% -100px;
    background-repeat: no-repeat;
    background-size: contain;
}

.elementor-497 .elementor-element.elementor-element-a1dd567 .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-497 .elementor-element.elementor-element-4611ae8 {
    color: #FFFFFFC2;
}

.elementor-497 .elementor-element.elementor-element-45d3747 {
    --display: flex;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-497 .elementor-element.elementor-element-0328178 {
    text-align: start;
}

.elementor-497 .elementor-element.elementor-element-ef20da7 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: stretch;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 100px;
    --padding-bottom: 60px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-497 .elementor-element.elementor-element-d09410d {
    --display: flex;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-497 .elementor-element.elementor-element-f7393b9 {
    text-align: center;
}

.elementor-497 .elementor-element.elementor-element-b2e6772 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: stretch;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-497 .elementor-element.elementor-element-b01b1fe {
    --display: flex;
    --border-radius: 6px 6px 6px 6px;
    --margin-top: 20px;
    --margin-bottom: 20px;
    --margin-left: 20px;
    --margin-right: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-left: 20px;
    --padding-right: 20px;
}

.elementor-497 .elementor-element.elementor-element-6ecb3d2>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-497 .elementor-element.elementor-element-6ecb3d2 .elementor-testimonial-wrapper {
    text-align: start;
}

.elementor-497 .elementor-element.elementor-element-6ecb3d2 .elementor-testimonial-content {
    color: #000000;
    font-size: 15px;
}

.elementor-497 .elementor-element.elementor-element-6ecb3d2 .elementor-testimonial-name {
    font-weight: 600;
}

.elementor-497 .elementor-element.elementor-element-88e1eb5 {
    --display: flex;
    --border-radius: 6px 6px 6px 6px;
    --margin-top: 20px;
    --margin-bottom: 20px;
    --margin-left: 20px;
    --margin-right: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-left: 20px;
    --padding-right: 20px;
}

.elementor-497 .elementor-element.elementor-element-12aa92a>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-497 .elementor-element.elementor-element-12aa92a .elementor-testimonial-wrapper {
    text-align: start;
}

.elementor-497 .elementor-element.elementor-element-12aa92a .elementor-testimonial-content {
    color: #000000;
    font-size: 15px;
}

.elementor-497 .elementor-element.elementor-element-12aa92a .elementor-testimonial-name {
    font-weight: 600;
}

.elementor-497 .elementor-element.elementor-element-9c4c528 {
    --display: flex;
    --border-radius: 6px 6px 6px 6px;
    --margin-top: 20px;
    --margin-bottom: 20px;
    --margin-left: 20px;
    --margin-right: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-left: 20px;
    --padding-right: 20px;
}

.elementor-497 .elementor-element.elementor-element-e2c1474>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-497 .elementor-element.elementor-element-e2c1474 .elementor-testimonial-wrapper {
    text-align: start;
}

.elementor-497 .elementor-element.elementor-element-e2c1474 .elementor-testimonial-content {
    color: #000000;
    font-size: 15px;
}

.elementor-497 .elementor-element.elementor-element-e2c1474 .elementor-testimonial-name {
    font-weight: 600;
}

.elementor-497 .elementor-element.elementor-element-7341b1c {
    --display: flex;
}

.elementor-497 .elementor-element.elementor-element-d48c088 .elementor-heading-title {
    color: #0E5897;
}

.elementor-497 .elementor-element.elementor-element-70534ac {
    color: #000000;
}

.elementor-497 .elementor-element.elementor-element-9439258 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: stretch;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --overlay-opacity: 0.5;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-497 .elementor-element.elementor-element-9439258:not(.elementor-motion-effects-element-type-background),
.elementor-497 .elementor-element.elementor-element-9439258>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-astglobalcolor0);
}

.elementor-497 .elementor-element.elementor-element-9439258::before,
.elementor-497 .elementor-element.elementor-element-9439258>.elementor-background-video-container::before,
.elementor-497 .elementor-element.elementor-element-9439258>.e-con-inner>.elementor-background-video-container::before,
.elementor-497 .elementor-element.elementor-element-9439258>.elementor-background-slideshow::before,
.elementor-497 .elementor-element.elementor-element-9439258>.e-con-inner>.elementor-background-slideshow::before,
.elementor-497 .elementor-element.elementor-element-9439258>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    --background-overlay: '';
}

.elementor-497 .elementor-element.elementor-element-dbc9f58 {
    --display: flex;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-497 .elementor-element.elementor-element-7adc4a6 {
    text-align: start;
}

.elementor-497 .elementor-element.elementor-element-455b87c {
    --display: flex;
    --justify-content: center;
    --gap: 20px 20px;
    --row-gap: 20px;
    --column-gap: 20px;
    --overlay-opacity: 1;
    --padding-top: 80px;
    --padding-bottom: 80px;
    --padding-left: 80px;
    --padding-right: 80px;
}

.elementor-497 .elementor-element.elementor-element-455b87c::before,
.elementor-497 .elementor-element.elementor-element-455b87c>.elementor-background-video-container::before,
.elementor-497 .elementor-element.elementor-element-455b87c>.e-con-inner>.elementor-background-video-container::before,
.elementor-497 .elementor-element.elementor-element-455b87c>.elementor-background-slideshow::before,
.elementor-497 .elementor-element.elementor-element-455b87c>.e-con-inner>.elementor-background-slideshow::before,
.elementor-497 .elementor-element.elementor-element-455b87c>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    --background-overlay: '';
    background-position: -100% -100px;
    background-repeat: no-repeat;
    background-size: contain;
}

.elementor-497 .elementor-element.elementor-element-fdbb2b8 .elementor-heading-title {
    color: #FFFFFF;
}

:root {
    --page-title-display: none;
}

@media(min-width:768px) {
    .elementor-497 .elementor-element.elementor-element-c834588 {
        --width: 50%;
    }

    .elementor-497 .elementor-element.elementor-element-6f94460 {
        --width: 50%;
    }

    .elementor-497 .elementor-element.elementor-element-7f15b20 {
        --width: 45%;
    }

    .elementor-497 .elementor-element.elementor-element-98a114d {
        --width: 55%;
    }

    .elementor-497 .elementor-element.elementor-element-74ed9d9 {
        --content-width: 1240px;
    }

    .elementor-497 .elementor-element.elementor-element-93c6cb7 {
        --width: 33.33%;
    }

    .elementor-497 .elementor-element.elementor-element-0e12443 {
        --width: 33.33%;
    }

    .elementor-497 .elementor-element.elementor-element-641bfc2 {
        --width: 33.33%;
    }

    .elementor-497 .elementor-element.elementor-element-a237398 {
        --width: 50%;
    }

    .elementor-497 .elementor-element.elementor-element-45d3747 {
        --width: 50%;
    }

    .elementor-497 .elementor-element.elementor-element-ef20da7 {
        --content-width: 1240px;
    }

    .elementor-497 .elementor-element.elementor-element-b01b1fe {
        --width: 33.33%;
    }

    .elementor-497 .elementor-element.elementor-element-88e1eb5 {
        --width: 33.33%;
    }

    .elementor-497 .elementor-element.elementor-element-9c4c528 {
        --width: 33.33%;
    }

    .elementor-497 .elementor-element.elementor-element-dbc9f58 {
        --width: 50%;
    }

    .elementor-497 .elementor-element.elementor-element-455b87c {
        --width: 50%;
    }
}

@media(max-width:1024px) {
    .elementor-497 .elementor-element.elementor-element-ca0e884 {
        --gap: 0px 0px;
        --row-gap: 0px;
        --column-gap: 0px;
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 120px;
        --padding-bottom: 100px;
        --padding-left: 30px;
        --padding-right: 30px;
    }

    .elementor-497 .elementor-element.elementor-element-ca0e884::before,
    .elementor-497 .elementor-element.elementor-element-ca0e884>.elementor-background-video-container::before,
    .elementor-497 .elementor-element.elementor-element-ca0e884>.e-con-inner>.elementor-background-video-container::before,
    .elementor-497 .elementor-element.elementor-element-ca0e884>.elementor-background-slideshow::before,
    .elementor-497 .elementor-element.elementor-element-ca0e884>.e-con-inner>.elementor-background-slideshow::before,
    .elementor-497 .elementor-element.elementor-element-ca0e884>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
        background-position: 0px 0px;
    }

    .elementor-497 .elementor-element.elementor-element-c834588 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 10px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 20px;
    }

    .elementor-497 .elementor-element.elementor-element-6f94460 {
        --gap: 0px 0px;
        --row-gap: 0px;
        --column-gap: 0px;
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-497 .elementor-element.elementor-element-09a4020 {
        --padding-top: 80px;
        --padding-bottom: 0px;
        --padding-left: 30px;
        --padding-right: 30px;
    }

    .elementor-497 .elementor-element.elementor-element-7f15b20 {
        --justify-content: flex-start;
    }

    .elementor-497 .elementor-element.elementor-element-98a114d {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 50px;
        --padding-right: 0px;
    }

    .elementor-497 .elementor-element.elementor-element-74ed9d9 {
        --padding-top: 80px;
        --padding-bottom: 80px;
        --padding-left: 20px;
        --padding-right: 020px;
    }

    .elementor-497 .elementor-element.elementor-element-93c6cb7 {
        --margin-top: 10px;
        --margin-bottom: 10px;
        --margin-left: 10px;
        --margin-right: 10px;
    }

    .elementor-497 .elementor-element.elementor-element-0e12443 {
        --margin-top: 10px;
        --margin-bottom: 10px;
        --margin-left: 10px;
        --margin-right: 10px;
    }

    .elementor-497 .elementor-element.elementor-element-641bfc2 {
        --margin-top: 10px;
        --margin-bottom: 10px;
        --margin-left: 10px;
        --margin-right: 10px;
    }

    .elementor-497 .elementor-element.elementor-element-38ab107 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-497 .elementor-element.elementor-element-a237398::before,
    .elementor-497 .elementor-element.elementor-element-a237398>.elementor-background-video-container::before,
    .elementor-497 .elementor-element.elementor-element-a237398>.e-con-inner>.elementor-background-video-container::before,
    .elementor-497 .elementor-element.elementor-element-a237398>.elementor-background-slideshow::before,
    .elementor-497 .elementor-element.elementor-element-a237398>.e-con-inner>.elementor-background-slideshow::before,
    .elementor-497 .elementor-element.elementor-element-a237398>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
        background-position: 0px 0px;
    }

    .elementor-497 .elementor-element.elementor-element-a237398 {
        --padding-top: 50px;
        --padding-bottom: 50px;
        --padding-left: 30px;
        --padding-right: 30px;
    }

    .elementor-497 .elementor-element.elementor-element-45d3747 {
        --justify-content: center;
        --padding-top: 10px;
        --padding-bottom: 10px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-497 .elementor-element.elementor-element-ef20da7 {
        --padding-top: 80px;
        --padding-bottom: 80px;
        --padding-left: 10px;
        --padding-right: 10px;
    }

    .elementor-497 .elementor-element.elementor-element-b01b1fe {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-497 .elementor-element.elementor-element-88e1eb5 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-497 .elementor-element.elementor-element-9c4c528 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-497 .elementor-element.elementor-element-dbc9f58 {
        --padding-top: 30px;
        --padding-bottom: 30px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-497 .elementor-element.elementor-element-455b87c::before,
    .elementor-497 .elementor-element.elementor-element-455b87c>.elementor-background-video-container::before,
    .elementor-497 .elementor-element.elementor-element-455b87c>.e-con-inner>.elementor-background-video-container::before,
    .elementor-497 .elementor-element.elementor-element-455b87c>.elementor-background-slideshow::before,
    .elementor-497 .elementor-element.elementor-element-455b87c>.e-con-inner>.elementor-background-slideshow::before,
    .elementor-497 .elementor-element.elementor-element-455b87c>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
        background-position: 0px 0px;
    }

    .elementor-497 .elementor-element.elementor-element-455b87c {
        --padding-top: 30px;
        --padding-bottom: 30px;
        --padding-left: 30px;
        --padding-right: 30px;
    }
}

@media(max-width:767px) {

    .elementor-497 .elementor-element.elementor-element-ca0e884::before,
    .elementor-497 .elementor-element.elementor-element-ca0e884>.elementor-background-video-container::before,
    .elementor-497 .elementor-element.elementor-element-ca0e884>.e-con-inner>.elementor-background-video-container::before,
    .elementor-497 .elementor-element.elementor-element-ca0e884>.elementor-background-slideshow::before,
    .elementor-497 .elementor-element.elementor-element-ca0e884>.e-con-inner>.elementor-background-slideshow::before,
    .elementor-497 .elementor-element.elementor-element-ca0e884>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
        background-position: 0px 0px;
    }

    .elementor-497 .elementor-element.elementor-element-c834588 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 10px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-497 .elementor-element.elementor-element-05148e0 .elementor-image-box-wrapper {
        text-align: start;
    }

    .elementor-497 .elementor-element.elementor-element-6f94460 {
        --margin-top: 60px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-497 .elementor-element.elementor-element-98a114d {
        --padding-top: 30px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-497 .elementor-element.elementor-element-e3d8e7b {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-497 .elementor-element.elementor-element-3258599 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-497 .elementor-element.elementor-element-0e12443 {
        --padding-top: 30px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-497 .elementor-element.elementor-element-641bfc2 {
        --padding-top: 30px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-497 .elementor-element.elementor-element-38ab107 {
        --flex-direction: column-reverse;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
    }

    .elementor-497 .elementor-element.elementor-element-a237398::before,
    .elementor-497 .elementor-element.elementor-element-a237398>.elementor-background-video-container::before,
    .elementor-497 .elementor-element.elementor-element-a237398>.e-con-inner>.elementor-background-video-container::before,
    .elementor-497 .elementor-element.elementor-element-a237398>.elementor-background-slideshow::before,
    .elementor-497 .elementor-element.elementor-element-a237398>.e-con-inner>.elementor-background-slideshow::before,
    .elementor-497 .elementor-element.elementor-element-a237398>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
        background-position: 0px 0px;
    }

    .elementor-497 .elementor-element.elementor-element-45d3747 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-497 .elementor-element.elementor-element-ef20da7 {
        --padding-top: 60px;
        --padding-bottom: 60px;
        --padding-left: 10px;
        --padding-right: 10px;
    }

    .elementor-497 .elementor-element.elementor-element-d09410d {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-497 .elementor-element.elementor-element-f7393b9>.elementor-widget-container {
        padding: 0px 10px 0px 10px;
    }

    .elementor-497 .elementor-element.elementor-element-9439258 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-497 .elementor-element.elementor-element-dbc9f58 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-497 .elementor-element.elementor-element-455b87c::before,
    .elementor-497 .elementor-element.elementor-element-455b87c>.elementor-background-video-container::before,
    .elementor-497 .elementor-element.elementor-element-455b87c>.e-con-inner>.elementor-background-video-container::before,
    .elementor-497 .elementor-element.elementor-element-455b87c>.elementor-background-slideshow::before,
    .elementor-497 .elementor-element.elementor-element-455b87c>.e-con-inner>.elementor-background-slideshow::before,
    .elementor-497 .elementor-element.elementor-element-455b87c>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
        background-position: 0px 0px;
    }

    .elementor-497 .elementor-element.elementor-element-455b87c {
        --padding-top: 40px;
        --padding-bottom: 40px;
        --padding-left: 30px;
        --padding-right: 30px;
    }
}

@media(min-width:1025px) {

    .elementor-497 .elementor-element.elementor-element-ca0e884::before,
    .elementor-497 .elementor-element.elementor-element-ca0e884>.elementor-background-video-container::before,
    .elementor-497 .elementor-element.elementor-element-ca0e884>.e-con-inner>.elementor-background-video-container::before,
    .elementor-497 .elementor-element.elementor-element-ca0e884>.elementor-background-slideshow::before,
    .elementor-497 .elementor-element.elementor-element-ca0e884>.e-con-inner>.elementor-background-slideshow::before,
    .elementor-497 .elementor-element.elementor-element-ca0e884>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
        background-attachment: scroll;
    }
}